:root {
	--bg-color: #fff;
	--safe-area-left: 50%;
	--safe-area-right: 0;
	--safe-area-top: 0;
	--safe-area-bottom: 0;
	--scroll-width: 5px;
	--scroll-height: 8px;
	--scroll-bar-color: #ddd;
	--scroll-bar-thumb: #000;
}
@supports (bottom: env(safe-area-inset-top)) {
	:root {
		--safe-area-left: env(safe-area-inset-left);
		--safe-area-right: env(safe-area-inset-right);
		--safe-area-top: env(safe-area-inset-top);
		--safe-area-bottom: env(safe-area-inset-bottom);
	}
}
#header {
	padding-top: calc(1em + var(--safe-area-top));
}
#footer {
	bottom: calc(1em + var(--safe-area-bottom));
}
// 一版到底
// html {
// 	font-size: 768px;
// 	@include media {
// 		font-size: 100vw;
// 	}
// }
// .gbox {
// 	font-size: rem(30);
// }
body {
	background-color: var(--bg-color, #fff);
	position: relative;
	width: 100%;
	background-image: url("./images/bg2.jpg");
	background-size: vw2(1920) vw2(1080);
	background-position: center 0;
	overflow: hidden;
	@include media {
		background-image: url("./images/m-bg2.jpg");
		// background-size: vw(768) vw(1665);
		background-size: cover;
		background-position: center 0;
	}
}
.scroll-style {
	&::-webkit-scrollbar {
		width: var(--scroll-width, 5px);
		height: var(--scroll-height, 8px);
		background-color: var(--scroll-bar-color, #ddd);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--scroll-bar-thumb, #000);
	}
}

#app {
	width: 100%;
	height: 100dvh;
	position: relative;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	@include media {
		width: 100vw;
		height: 100dvh;
		// height: vw(1665);
		// aspect-ratio: unset;
		// background-image: url("./images/m-bg2.jpg");
		// background-size: vw(768) vw(1665);
		// background-position: center 0;
	}
}
[v-cloak] {
	display: none;
}
.deco {
	width: vw2(510px);
	height: vw2(555px);
	background-size: 100%;
	background-image: url("./images/deco.png");
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: vw2(-265px);
	@include media {
		width: vw(546);
		height: vw(533);
		background-image: url("./images/m-deco.png");
		margin-left: vw(-258);
	}
}
.logo {
	width: vw2(278px);
	height: vw2(238px);
	background-size: 100%;
	background-image: url("./images/logo.png");
	position: absolute;
	top: vw2(379px);
	left: 50%;
	margin-left: vw2(-149px);
	filter: drop-shadow(0 0 10px rgba(#d0f8ff, 0.47));
	@include media {
		width: vw(292);
		height: vw(251);
		background-image: url("./images/m-logo.png");
		top: vw(357);
		margin-left: vw(-143);
	}
}
.slogan {
	width: vw2(656px);
	height: vw2(139px);
	background-size: 100%;
	position: absolute;
	top: vw2(646px);
	left: 50%;
	margin-left: vw2(-328px);
	background-image: url("./images/slogan.png");
	@include media {
		width: vw(614);
		height: vw(148);
		background-image: url("./images/m-slogan.png");
		top: vw(637);
		margin-left: vw(-307);
	}
}
@keyframes breathing {
	0% {
		transform: scale(1);
		opacity: 0.7;
	}
	50% {
		transform: scale(1.15);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.7;
	}
}
.circle {
	width: vw2(305px);
	height: vw2(306px);
	background-size: 100%;
	background-image: url("./images/circle.png");
	position: absolute;
	animation: breathing 2.4s infinite ease-in-out;
	@include media {
		width: vw(182);
		height: vw(183);
		background-image: url("./images/m-circle.png");
	}
}
.circle1 {
	top: vw2(485px);
	left: 50%;
	margin-left: vw2(-731px);
	@include media {
		top: vw(969);
		margin-left: vw(-282);
	}
}
.circle2 {
	top: vw2(469px);
	left: 50%;
	margin-left: vw2(460px);
	@include media {
		top: vw(969);
		margin-left: vw(82);
	}
}
.left {
	&-item {
		width: vw2(570px);
		height: vw2(519px);
		background-size: 100%;
		background-image: url("./images/left.png");
		position: absolute;
		top: vw2(339px);
		left: 50%;
		margin-left: -839px;
		@include media {
			width: vw(397);
			height: vw(406);
			background-image: url("./images/m-left.png");
			top: vw(813);
			margin-left: vw(-373);
		}
	}
}
.right {
	&-item {
		width: vw2(380px);
		height: vw2(380px);
		background-size: 100%;
		background-image: url("./images/right-item.gif");
		position: absolute;
		top: 0;
		left: 50%;
		@include media {
			width: vw(280);
			height: vw(280);
		}
	}
	&-text {
		width: vw2(170px);
		height: vw2(102px);
		background-size: 100%;
		background-image: url("./images/right-text.png");
		position: absolute;
		top: vw2(756px);
		left: 50%;
		margin-left: vw2(511px);
		@include media {
			width: vw(164);
			height: vw(96);
			background-image: url("./images/m-right-text.png");
			top: vw(1120);
			margin-left: vw(87);
		}
	}
}
.btn-booking {
	width: vw2(568px);
	height: vw2(119px);
	background-size: 100%;
	background-image: url("./images/btn-booking.png");
	position: absolute;
	top: vw2(789px);
	left: 50%;
	margin-left: vw2(-295px);
	transition: all 0.3s;
	@include hover {
		transform: scale(1.05);
	}
	@include media {
		width: vw(740);
		height: vw(157);
		background-image: url("./images/m-btn-booking.png");
		top: vw(1195);
		left: 50%;
		margin-left: vw(-370);
	}
}
.btn-group {
	position: absolute;
	top: vw2(949px);
	left: 50%;
	margin-left: vw2(-305px);
	font-size: 0;
	display: flex;
	column-gap: vw2(122px);
	@include media {
		top: vw(1436);
		margin-left: vw(-316);
		column-gap: vw(34);
	}
}
.btn-aos {
	width: vw2(246px);
	height: vw2(79px);
	background-size: 100%;
	background-image: url("./images/btn-aos.png");
	order: 2;
	transition: all 0.3s;
	@include hover {
		filter: drop-shadow(0 0 10px rgba(#fcffd0, 0.47)) drop-shadow(0 0 10px rgba(#fcffd0, 0.47));
	}
	@include media {
		width: vw(303);
		height: vw(111);
		background-image: url("./images/m-btn-aos.png");
		order: 1;
	}
}
.btn-ios {
	width: vw2(243px);
	height: vw2(78px);
	background-size: 100%;
	background-image: url("./images/btn-ios.png");
	transition: all 0.3s;
	@include hover {
		filter: drop-shadow(0 0 10px rgba(#fcffd0, 0.47)) drop-shadow(0 0 10px rgba(#fcffd0, 0.47));
	}
	@include media {
		width: vw(297);
		height: vw(109);
		background-image: url("./images/m-btn-ios.png");
	}
}
