@charset "UTF-8";
/* 中文 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Microsoft JhengHei", "PingFangTC-Regular", "Heiti TC", "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  touch-callout: none;
  -webkit-touch-callout: none;
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}
input {
  font-size: initial !important;
}

::-webkit-input-placeholder {
  font-size: 20px;
}

::-moz-placeholder {
  font-size: 20px;
}

:-ms-input-placeholder {
  font-size: 20px;
}

::-ms-input-placeholder {
  font-size: 20px;
}

::placeholder {
  font-size: 20px;
}

a {
  display: inline-block;
}
a:focus-visible {
  outline: none;
}

a[href] {
  cursor: pointer;
}

.cur-p {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

[v-cloak] {
  display: none;
}

.clearfix {
  overflow: hidden;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
  padding: 0;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.default .gbox-wrap {
  max-width: 898px;
  width: 100%;
  padding: 0px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: transparent;
  color: #fff;
  background-size: cover;
  padding-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .default .gbox-wrap {
    margin-top: 8.8541666667vw;
    margin-bottom: 8.8541666667vw;
  }
}
.default .gbox-title {
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
  height: 76px;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .default .gbox-title {
    height: 6.640625vw;
  }
}
.default .gbox-content {
  position: relative;
  padding: 0px;
  width: 100%;
}

.default .gbox-action {
  z-index: 2;
  position: relative;
  padding: 0;
  font-size: 0;
}
.default .gbox-btn {
  width: 310px;
  height: 60px;
  padding: 0;
  display: inline-block;
  font-size: 0;
  position: relative;
  margin: 0;
}
.default .gbox-btn + .gbox-btn {
  margin-left: 26px;
}
@media screen and (max-width: 768px) {
  .default .gbox-btn + .gbox-btn {
    margin-left: 2.8776041667vw;
  }
}
@media screen and (max-width: 768px) {
  .default .gbox-btn {
    width: 27.4479166667vw;
    height: 5.2018229167vw;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0.33203125vw 1.328125vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0.33203125vw 1.328125vw rgba(0, 0, 0, 0.8);
  }
}

.default .gbox-close {
  width: 35px;
  height: 35px;
  font-size: 0;
  top: 22px;
  right: 20px;
  background-image: url("./img/btn-close.png");
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .default .gbox-close {
    width: 3.8736979167vw;
    height: 3.8736979167vw;
    right: 1.9921875vw;
    top: 1.328125vw;
  }
}

.loadingProgress {
  width: 100%;
  height: 100%;
  background: url(https://tw.hicdn.beanfun.com/beanfun/beanfun/common_assets/images/loading/type1.gif) 50% 50% rgba(0, 0, 0, 0.75) no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 21474836499;
}
.loadingProgress.init {
  background-color: #1e1a38;
  background-image: none;
}
.loadingProgress.init .loadingProgress-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.loadingProgress-num {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: vw4(60);
  color: #fff;
  width: vw4(160);
  height: vw4(160);
  border: 1px solid #ffee00;
  border-radius: 100vmax;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 0 vw4(8) #1e1a38, 0 0 0 vw4(16) #f91;
          box-shadow: 0 0 0 vw4(8) #1e1a38, 0 0 0 vw4(16) #f91;
}
@media screen and (max-width: 768px) {
  .loadingProgress-num {
    width: 17.7083333333vw;
    height: 17.7083333333vw;
    font-size: 6.640625vw;
    -webkit-box-shadow: 0 0 0 0.8854166667vw #1e1a38, 0 0 0 1.7708333333vw #f91;
            box-shadow: 0 0 0 0.8854166667vw #1e1a38, 0 0 0 1.7708333333vw #f91;
  }
}

:root {
  --bg-color: #fff;
  --safe-area-left: 50%;
  --safe-area-right: 0;
  --safe-area-top: 0;
  --safe-area-bottom: 0;
  --scroll-width: 5px;
  --scroll-height: 8px;
  --scroll-bar-color: #ddd;
  --scroll-bar-thumb: #000;
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --safe-area-left: env(safe-area-inset-left);
    --safe-area-right: env(safe-area-inset-right);
    --safe-area-top: env(safe-area-inset-top);
    --safe-area-bottom: env(safe-area-inset-bottom);
  }
}
#header {
  padding-top: calc(1em + var(--safe-area-top));
}

#footer {
  bottom: calc(1em + var(--safe-area-bottom));
}

body {
  background-color: var(--bg-color, #fff);
  position: relative;
  width: 100%;
  background-image: url("./images/bg2.jpg");
  background-size: 1920px 1080px;
  background-position: center 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  body {
    background-image: url("./images/m-bg2.jpg");
    background-size: cover;
    background-position: center 0;
  }
}

.scroll-style::-webkit-scrollbar {
  width: var(--scroll-width, 5px);
  height: var(--scroll-height, 8px);
  background-color: var(--scroll-bar-color, #ddd);
}
.scroll-style::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb, #000);
}

#app {
  width: 100%;
  height: 100dvh;
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #app {
    width: 100vw;
    height: 100dvh;
  }
}

[v-cloak] {
  display: none;
}

.deco {
  width: 510px;
  height: 555px;
  background-size: 100%;
  background-image: url("./images/deco.png");
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -265px;
}
@media screen and (max-width: 768px) {
  .deco {
    width: 60.4296875vw;
    height: 58.9908854167vw;
    background-image: url("./images/m-deco.png");
    margin-left: -28.5546875vw;
  }
}

.logo {
  width: 278px;
  height: 238px;
  background-size: 100%;
  background-image: url("./images/logo.png");
  position: absolute;
  top: 379px;
  left: 50%;
  margin-left: -149px;
  -webkit-filter: drop-shadow(0 0 10px rgba(208, 248, 255, 0.47));
          filter: drop-shadow(0 0 10px rgba(208, 248, 255, 0.47));
}
@media screen and (max-width: 768px) {
  .logo {
    width: 32.3177083333vw;
    height: 27.7799479167vw;
    background-image: url("./images/m-logo.png");
    top: 39.51171875vw;
    margin-left: -15.8268229167vw;
  }
}

.slogan {
  width: 656px;
  height: 139px;
  background-size: 100%;
  position: absolute;
  top: 646px;
  left: 50%;
  margin-left: -328px;
  background-image: url("./images/slogan.png");
}
@media screen and (max-width: 768px) {
  .slogan {
    width: 67.9557291667vw;
    height: 16.3802083333vw;
    background-image: url("./images/m-slogan.png");
    top: 70.5013020833vw;
    margin-left: -33.9778645833vw;
  }
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7;
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7;
  }
}
.circle {
  width: 305px;
  height: 306px;
  background-size: 100%;
  background-image: url("./images/circle.png");
  position: absolute;
  -webkit-animation: breathing 2.4s infinite ease-in-out;
          animation: breathing 2.4s infinite ease-in-out;
}
@media screen and (max-width: 768px) {
  .circle {
    width: 20.1432291667vw;
    height: 20.25390625vw;
    background-image: url("./images/m-circle.png");
  }
}

.circle1 {
  top: 485px;
  left: 50%;
  margin-left: -731px;
}
@media screen and (max-width: 768px) {
  .circle1 {
    top: 107.24609375vw;
    margin-left: -31.2109375vw;
  }
}

.circle2 {
  top: 469px;
  left: 50%;
  margin-left: 460px;
}
@media screen and (max-width: 768px) {
  .circle2 {
    top: 107.24609375vw;
    margin-left: 9.0755208333vw;
  }
}

.left-item {
  width: 570px;
  height: 519px;
  background-size: 100%;
  background-image: url("./images/left.png");
  position: absolute;
  top: 339px;
  left: 50%;
  margin-left: -839px;
}
@media screen and (max-width: 768px) {
  .left-item {
    width: 43.9388020833vw;
    height: 44.9348958333vw;
    background-image: url("./images/m-left.png");
    top: 89.98046875vw;
    margin-left: -41.2825520833vw;
  }
}

.right-item {
  width: 380px;
  height: 380px;
  background-size: 100%;
  background-image: url("./images/right-item.gif");
  position: absolute;
  top: 0;
  left: 50%;
}
@media screen and (max-width: 768px) {
  .right-item {
    width: 30.9895833333vw;
    height: 30.9895833333vw;
  }
}
.right-text {
  width: 170px;
  height: 102px;
  background-size: 100%;
  background-image: url("./images/right-text.png");
  position: absolute;
  top: 756px;
  left: 50%;
  margin-left: 511px;
}
@media screen and (max-width: 768px) {
  .right-text {
    width: 18.1510416667vw;
    height: 10.625vw;
    background-image: url("./images/m-right-text.png");
    top: 123.9583333333vw;
    margin-left: 9.62890625vw;
  }
}

.btn-booking {
  width: 568px;
  height: 119px;
  background-size: 100%;
  background-image: url("./images/btn-booking.png");
  position: absolute;
  top: 789px;
  left: 50%;
  margin-left: -295px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .btn-booking:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media screen and (max-width: 768px) {
  .btn-booking {
    width: 81.9010416667vw;
    height: 17.3763020833vw;
    background-image: url("./images/m-btn-booking.png");
    top: 132.2591145833vw;
    left: 50%;
    margin-left: -40.9505208333vw;
  }
}

.btn-group {
  position: absolute;
  top: 949px;
  left: 50%;
  margin-left: -305px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 122px;
     -moz-column-gap: 122px;
          column-gap: 122px;
}
@media screen and (max-width: 768px) {
  .btn-group {
    top: 158.9322916667vw;
    margin-left: -34.9739583333vw;
    -webkit-column-gap: 3.7630208333vw;
       -moz-column-gap: 3.7630208333vw;
            column-gap: 3.7630208333vw;
  }
}

.btn-aos {
  width: 246px;
  height: 79px;
  background-size: 100%;
  background-image: url("./images/btn-aos.png");
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .btn-aos:hover {
    -webkit-filter: drop-shadow(0 0 10px rgba(252, 255, 208, 0.47)) drop-shadow(0 0 10px rgba(252, 255, 208, 0.47));
            filter: drop-shadow(0 0 10px rgba(252, 255, 208, 0.47)) drop-shadow(0 0 10px rgba(252, 255, 208, 0.47));
  }
}
@media screen and (max-width: 768px) {
  .btn-aos {
    width: 33.53515625vw;
    height: 12.28515625vw;
    background-image: url("./images/m-btn-aos.png");
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.btn-ios {
  width: 243px;
  height: 78px;
  background-size: 100%;
  background-image: url("./images/btn-ios.png");
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .btn-ios:hover {
    -webkit-filter: drop-shadow(0 0 10px rgba(252, 255, 208, 0.47)) drop-shadow(0 0 10px rgba(252, 255, 208, 0.47));
            filter: drop-shadow(0 0 10px rgba(252, 255, 208, 0.47)) drop-shadow(0 0 10px rgba(252, 255, 208, 0.47));
  }
}
@media screen and (max-width: 768px) {
  .btn-ios {
    width: 32.87109375vw;
    height: 12.0638020833vw;
    background-image: url("./images/m-btn-ios.png");
  }
}