.logo {
	width: 195px;
	height: 90px;
	background-size: 100%;
	/* background-image: url(./images/share-logo-lineage-m.png); */
	background-image: url(./images/share-logo-lineage-free.png);
	position: fixed;
	bottom: 0;
	right: 0;
}
.test {
	color: blue;
}
